<% hosts.each_pair do |key, host| -%>
Host <%= host.short_name %>
	HostName <%= host.hostname %>
	Port <%= host.port %>
	User <%= host.user %>
<% if host.identity != '' -%>
	IdentityFile <%= host.identity %>
<%end -%>
<% if host.kex -%>
	KeyExchangeAlgorithms <%= host.kex %>
<%end -%>
<% if host.ciphers -%>
	Ciphers <%= host.ciphers %>
<%end -%>
<% if host.proxy_host != nil -%>
	ProxyJump <%= host.proxy_host.short_name %>
<%end -%>
<%= %>
<% end -%>
